body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */
  }
  
  a[role="button"] {
    margin: 10px 0; /* Дополнительное пространство сверху и снизу каждой кнопки */
    text-decoration: none; /* Убирает подчеркивание текста ссылки */
  }

h1 {
    text-align: center;
    color: #333;
}


form {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b;
}

#results {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.vacancy-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.vacancy-card h2 {
    margin: 0 0 10px 0;
}

.vacancy-card p {
    margin: 5px 0;
}

.vacancy-card a {
    display: inline-block;
    margin-top: 10px;
}